.row_container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 5px 10px
}
.col_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description_container{
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 250px;
}
.description_element{
  max-width: 250px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  border: 1px black solid;
  border-radius: 5px;
  padding: 15px 5px 15px 5px
}
.content_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 750px;
}
.action_container{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 250px;
}
.page_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 10px 0 10px;
}
.text_input {
  width: 500px;
  height: 20px;
  padding: 5px;
  margin: 10px;
  resize: none;
  border: 2px black solid;
  border-radius: 5px;
}
.option_input{
  width: 15px;
  border: 0.5px solid black;
  border-radius: 2px;
  margin: 0 15px 0 5px
}
.option_input_label{
  font-size: 10px;
  font-weight: bold;
  color: grey;
}
.submit_button{
  padding: none;
  margin: 10px;
  height: 64px;
  width: 50px;
  border:none;
  border-radius: 5px;
  border: 2px black solid;
  cursor: pointer;
}
.submit_button svg {
  font-size: 34px;
}
.submit_button:hover{
  background-color: #e1e1e1;
}
.submit_button:active{
  box-shadow: none;
}
.text_element_container{
  display: flex;
  flex-direction: column;
  max-width: 700px;
  overflow-x: auto;
  padding: 0 10px 0 10px
}
.text_element{
  display: flex;
  width: inherit;
  flex-direction: row;
  margin: 0 auto 0 auto;
  padding: 10px 5px 10px;
}

.text_element_atom {
  width: inherit;
  background-color: #ababab;
  padding: 5px;
  margin: 2px;
  border-radius: 5px;
}

.model_element{
  border: 1px black solid;
  border-radius: 10px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px 10px 20px;
  margin: 20px 0;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* toggle button */
.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #9300b8;
  -webkit-transition: .4s;
  transition: .4s;
   border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.toggle_input:checked + .slider {
  background-color: #2a38b9;
}

.toggle_input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.toggle_input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.slider:after
{
 content:'MLM';
 color: white;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 50%;
 font-size: 10px;
 font-family: Verdana, sans-serif;
}

.toggle_input:checked + .slider:after
{  
  content:'NSP';
}

/*--------- END --------*/
